{% extends '!base.html' %}

{% block content %}
<h1>회원정보</h1>

<p>사용자 이름: {{ request.user.last_name }}{{ request.user.first_name }}</p>
<p>생년월일: {{ request.user.birthday|date:'Y-m-d' }}</p>
<p>이메일: {{ request.user.email }}</p>

<a href="{% url 'accounts:update' %}" class="btn btn-primary">회원정보 수정</a>
<a href="{% url 'accounts:change_password' %}" class="btn btn-primary">비밀번호 수정</a>
<br>
<br>
<form action="{% url 'accounts:delete' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="회원탈퇴" onclick="return confirm('탈퇴하시겠습니까?')" class="btn btn-danger">
</form>
{% endblock content %}

