<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  span {
    color: red;
  }

  .rp {
    font-size: 15px;
    color: gray;
  }
</style>

<body>
  {% if request.user.is_authenticated %}
    <h3>안녕하세요, <span>{{ user }}</span> 님!</h3>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="로그아웃">
    </form>
    <br>

    <form action="{% url 'accounts:delete' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="회원탈퇴">
    </form>
    <br>

    <a href="{% url 'accounts:update' %}">회원정보수정</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">Login</a>
    <a href="{% url 'accounts:signup' %}">Signup</a>
  {% endif %}


  <hr>
  <h1>Reviews</h1>

  <button><a href="{% url 'reviews:create' %}">CREATE</a></button>

  {% for review in reviews %}
  <p class="rp">작성자 - {{ review.user }}</p>
    <p>제목: 
      <a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a>
    </p>
    <p>내용: {{ review.content }}</p>
    <hr>
  {% endfor %}
</body>
</html>
