<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>할 일 단일 조회 Detail</h1>

    <p>제목 : {{ detail.title }}</p>
    <p>내용 : {{ detail.content }}</p>
    <p>우선 순위 : {{ detail.priority }}</p>
    <p>생성 날짜 : {{ detail.created_at }}</p>
    <p>마감 기한 : {{ detail.deadline }}</p>

    <button><a href="{% url 'todos:index' %}">뒤로가기</a></button>
    <br>
    <br>

    <button><a href="{% url 'todos:edit' detail.pk %}">수정</a></button>
    <br>
    <br>

    <form action="{% url "todos:delete" detail.pk %}" method='POST'>
        {% csrf_token %}
        <input type="submit" value='삭제'>
    </form>
</body>
</html>